# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Local development settings
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# Poetry
poetry.lock

# output
output/

*/__pycache__/
